h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: -10px;
  text-align: center;
  background-color: rgba(70, 70, 70, 0.884);
  margin-top: 40px;
  margin-bottom: -0.5px;
  margin-left: -0.5px;
  color: rgb(255, 255, 255);
  font-family: Arial;
  padding: 28px;
}

p {
  font-size: 20px;
  margin-top: 70px;
}

h2 {
  text-align: center;
  background-color: rgba(70, 70, 70, 0.884);
  font-size: 20px;
  margin-top: 200px;
  margin-bottom: -0.5px;
  margin-left: -0.5px;
  color: rgb(255, 255, 255);
  font-family: Arial;
  padding: 28px;
}

.button {
  background-color: rgb(70, 70, 70);
  color: white;
  padding: 15px 32px;
  font-size: 25px;
  margin: 40px 150px;
  text-align: center;
  margin-top: 100px;
}

.newWin {
  font-size: 20px;
  margin-top: 10px;
}

.card {
 display: inline-block;
 text-align: center;
 width: 3em;
 font-size: 2em;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 margin: 1em;
 user-select: none;
}

.activeCard {
 color: red;
 background: pink;
}
